<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>انتخابات</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form class="row" [formGroup]="electionForm" (ngSubmit)="saveElection()">

      <div class="col-12">
        <mat-form-field class="w-25">
          <input type="text" matInput placeholder="نام" formControlName="name">
        </mat-form-field>
      </div>

      <div class="col-12">
        <mat-list class="w-25" formArrayName="candidates">
          <mat-list-item *ngFor="let candidate of f.candidates.controls;let i = index">
            <div class="d-flex w-100 justify-content-between align-items-center" [formGroupName]="i">
              <mat-form-field>
                <input type="text" matInput placeholder="شناسه کاندیدا" formControlName="candidate" required>
              </mat-form-field>
              <i class="pointer text-danger mr-3" (click)="removeCandidate(i)">حذف</i>
            </div>
          </mat-list-item>

          <button [disabled]="f.candidates.invalid" (click)="addCandidate()" class="btn-unstyled" type="button">
            <i class="text-primary mr-3 mt-3">اضافه</i>
          </button>

        </mat-list>
      </div>

      <div class="col-12 d-flex justify-content-end">
        <button mat-raised-button color="warn" routerLink="/Dashboard/Elections" type="button">بازگشت</button>

        <button mat-raised-button color="primary" type="submit" class="mx-2">
          ذخیره
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
